<!--<div class="card">-->
  <!--<div class="card-header card-header-danger">-->
    <!--<h4 class="card-title">ערוך פרופיל</h4>-->
    <!--<p class="card-category">Complete your profile</p>-->
  <!--</div>-->
  <!--<div class="card-body" >-->
    <!--<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >-->
      <!--<div class="row">-->
        <!--<div class="col-md-5">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="Company" formControlName="company" name="company">-->
          <!--</mat-form-field>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="שם משתמש"  formControlName="userName" name="userName">-->
          <!--</mat-form-field>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="מייל"  formControlName="email" type="email" name="email">-->
          <!--</mat-form-field>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input   matInput placeholder=" שם פרטי"  formControlName="firstName" type="text" name="firstName">-->
          <!--</mat-form-field>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="שם משפחה"  formControlName="lastName" name="lastName" type="text">-->
          <!--</mat-form-field>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="תפקיד"  formControlName="role" name="role" type="text">-->
          <!--</mat-form-field>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="תאריך לידה" formControlName="birthDate" name="birthDate" type="text">-->
          <!--</mat-form-field>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="כתובת"  formControlName="address" name="address" type="text">-->
          <!--</mat-form-field>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="טלפון"  formControlName="cellPhone" name="cellphone" type="text">-->
          <!--</mat-form-field>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="עיר"  formControlName="city" name="city" type="text">-->
          <!--</mat-form-field>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="ארץ"  formControlName="country" name="country" type="text">-->
          <!--</mat-form-field>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="מיקוד"  formControlName="postalCode" name="postalCode" type="text">-->
          <!--</mat-form-field>-->
        <!--</div>-->

        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="מגייס"  formControlName="recruiter" name="recruiter" type="text">-->
          <!--</mat-form-field>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="תאריך הצטרפות"  formControlName="joinDate" name="joinDate" type="text">-->
          <!--</mat-form-field>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-md-12">-->
          <!--<label>About Me</label>-->
          <!--<mat-form-field class="example-full-width">-->
            <!--<textarea matInput placeholder="הערות"  formControlName="comments" name="comments"></textarea>-->
          <!--</mat-form-field>-->
          <!--&lt;!&ndash; <div class="form-group">-->

              <!--<div class="form-group">-->
                  <!--<label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>-->
                  <!--<textarea class="form-control" rows="5"></textarea>-->
              <!--</div>-->
          <!--</div> &ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <!--<button mat-raised-button type="submit" class="btn btn-danger pull-right" > עדכן פרופיל</button>-->
      <!--<div class="clearfix"></div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->
<app-profile-form></app-profile-form>
