// .sidebarrtl {
//   font-size: 24px;
//   float: right;
//   margin-left: 15px;
//   line-height: 30px;
//   width: 30px;
//   text-align: center;
//   color: #a9afbb;
// }

// .nav {

//   flex-wrap: wrap;
//   padding-right: 0;
//   margin-bottom: 0;
//   list-style: none;
// }

.nav {
padding-right:0px;
}

.myP{
  margin-left: 60px;
}

.nav .p{
  text-align: right;
}

